---
layout: page
search_omit: true
excerpt: Undefined Method is the personal blog of Enol Iglesias, a Ruby on Rails developer that blogs about coding, techs, ideas... Everybody is welcome!
tags: enol iglesias, ruby on rails, ruby, undefined method, coding blog, developer
---

<h3>Latest posts</h3>
<ul class="post-list">
{% for post in site.posts limit:5 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>
