<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><a title="Home" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="Undefined Method logo" /></a></span>
            <h1 id="logo"><a title="Home" href="{{ site.baseurl }}/">Enol Iglesias</a></h1>
            <p>
                Ruby on Rails developer. <br/>
                Coding hard and having fun @ <a href="http://simplelogica.net" target="_blank" title"simplelógica">simplelogica.net</a> and <a href="http://acutar.io" target="_blank" title="acutar.io">acutar.io</a>
            </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://github.com/{{ site.github_username }}" target="_blank" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="http://open.spotify.com/user/{{ site.spotify_username }}" target="_blank" class="icon fa-spotify"><span class="label">Spotify</span></a></li>
                <li><a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://es.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" class="icon fa-linkedin"><span class="label">Linedin</span></a></li>
                <li><a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
        </footer>
    </section>

